position.dtd

<!ELEMENT query ANY>


<!ELEMENT status (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT countryCode (#PCDATA)>
<!ELEMENT region (#PCDATA)>
<!ELEMENT regionName (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT zip (#PCDATA)>
<!ELEMENT lat (#PCDATA)>
<!ELEMENT lon (#PCDATA)>
<!ELEMENT timezone (#PCDATA)>
<!ELEMENT isp (#PCDATA)>
<!ELEMENT org (#PCDATA)>
<!ELEMENT as (#PCDATA)>
<!ELEMENT query (#PCDATA)>